<div class="modal-body">
    <ul>
    	<form name="form" ng-submit="handleRegBtnClick(registrationForm)" role="form" ng-init="registrationForm = {}" novalidate>
  			<div class="form-group">
    			<label for="username">Username</label>
    			<input type="username" name="username" id="username" ng-model="registrationForm.username" required="required" class="form-control" min="3" max="10">
  				<span ng-show="form.username.$error.required || err && err.errors.username.type == 'required'">Please input username!</span>
  				<span ng-show="form.username.$error.length.min || form.username.$error.length.max">Length of username is invalid!(Should be 3-10)</span>
  			</div>
  			<div class="form-group">
    			<label for="email">Email</label>
    			<input type="email" name="email" id="email" ng-model="registrationForm.email" required="required" class="form-control">
  				<span ng-show="form.email.$error.email">Email is invalid!</span>
  				<span ng-show="form.email.$error.required || err && err.errors.email.type == 'required'">Please input email!</span>
  				<span ng-show="err.code == 11000 || err.code == 11001"><font color="red">This email has been used!</font></span>
  			</div>
			<div class="form-group">
    			<label for="password">Password</label>
    			<input type="password" name="password" id="password" ng-model="registrationForm.password" required="required" class="form-control" min="7">
  				<span ng-show="form.password.$error.length.min || err && err.errors.password">Length of password is too short!(At least 7)</span>
  			</div>
			<div class="form-group">
    			<label for="password_confirmation">Password confirmation</label>
    			<input type="password" name="password_confirmation" id="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control" data-password-verify="registrationForm.password">
  				<span ng-show="form.password_confirmation.$error.passwordVerify">Password is not correct!</span>
  			</div>
  			<div class="form-group">
    			<label for="company">Company</label>
    			<input type="company" name="company" id="company" ng-model="registrationForm.company" required="required" class="form-control">
  				<span ng-show="form.company.$error.required || err && err.errors.company.type == 'required'">Please input company!</span>
  			</div>
        <div class="form-group">
          <label for="business">Business</label>
          <select type="business" name="business" id="business" ng-model="registrationForm.business" required="required" class="form-control" ng-options="b.text for b in bs">
          <option value="">--choose business--</option>
          </select>
          <span ng-show="form.business.$error.required || err && err.errors.business.type == 'required'">Please select a business!</span>
        </div>
  			<div class="form-group">
    			<label for="squestion">Security question</label>
    			<select type="squestion" name="squestion" id="squestion" ng-model="registrationForm.squestion" required="required" class="form-control" ng-options="sq.text for sq in sqs">
          <option value="">--choose question--</option>
          </select>
  				<span ng-show="form.squestion.$error.required || err && err.errors.squestion.type == 'required'">Please select a question!</span>
  			</div>
  			<div class="form-group">
    			<label for="location">Location</label>
    			<select type="location" name="location" id="location" ng-model="registrationForm.location" required="required" class="form-control" ng-options="l.text for l in la">
          <option value="">--choose location--</option>
          </select>
  				<span ng-show="form.location.$error.required || err && err.errors.location.type == 'required'">Please select a location!</span>
  			</div>
  			<div class="form-group">
    			<label for="phonenumber">Phone number</label>
    			<input type="phonenumber" name="phonenumber" id="phonenumber" ng-model="registrationForm.phonenumber" required="required" class="form-control">
  				<span ng-show="form.phonenumber.$error.required || err && err.errors.phonenumber.type == 'required'">Please input phone number!</span>
  			</div>
			<button type="submit" class="btn btn-primary">Register</button>
			<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
		</form>
	</ul>
</div>