<navbar>
</navbar>
<div id="request">
    <br>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <ol class="breadcrumb" id="route">
                    <li><a href="/main">Home</a></li>
                    <li><a href="#" class="active">Material Requirement</a></li>
                </ol>
                <div class="row">
                    <div class="col-md-4">
                        <select type="username" name="username" id="username" ng-model="searchForm.username" required="required" class="form-control" ng-options="u.text for u in un">
        	               <option value="">--choose a user name--</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select type="materialname" name="materialname" id="materialname" ng-model="searchForm.materialname" required="required" class="form-control" ng-options="m.text for m in mn">
                    	   <option value="">--choose name of a material--</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select type="category" name="category" id="category" ng-model="searchForm.category" required="required" class="form-control" ng-options="c.text for c in ca">
                        	<option value="">--choose category--</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <select type="postdate" name="postdate" id="postdate" ng-model="searchForm.postdate" required="required" class="form-control" ng-options="p.text for p in pd">
    	                   <option value="">--choose a post date--</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <button id="get" type="button" class="btn btn-info" ng-click="get()">
                          Get
                        </button>
                    </div>
                </div>
                <br><hr>
                <div class="row">
                    <table ng-table="tableParams" class="table table-bodered">
                    <tr ng-repeat="i in $data">
                        <td data-title="'User Name'" sortable="'username'">
                            <a href="#">
                                {{i.username}}
                            </a>
                        </td>
                        <td data-title="'Material Name'" sortable="'name'">
                            <a href="#">
                                {{i.name}}
                            </a>
                        </td>
                        <td data-title="'Material Type'" sortable="'type'">
                            <a href="#">
                                {{i.type}}
                            </a>
                        </td>
                        <td data-title="'Post Date'" sortable="'date'">
                            <a href="#">
                                {{i.date}}
                            </a>
                        </td>    
                    </tr>
                	</table>
                </div>
            </div>
            <div class="row">
                <hr>
                <button id="post" type="button" class="btn btn-default" ng-click="post()">
                    POST ?
                </button>
            </div>
        </div>
    </div>   
    <br><br><br><br><hr>
</div>
<footer>
</footer>

