#navigation {
  width: 100%;
  border-radius: 0;
  margin: 0;
  position: relative;
  font-family: Times New Roman;
  font-weight: bold;
  font-size: 1.3em;
}

#background {
  width: 80%;
  height: 250px;
  opacity: 1;
  padding: 10px;
}

.nav-tabs {
  position: absolute;
  left:  10%;
  top: 0%;
  border-bottom: none;
}

.nav-tabs li a {
  background-color: white;
  color: black;
  margin-left: 20px;
}

.nav-tabs li a:hover {
  color: white;
  background-color: dimgray;
}

.nav-tabs li a:active {
  background-color: dimgray;
}

.nav-tabs i {
  font-weight: bold;
}