<div id="navigation" ng-controller="NavbarController">
  <ul>
    <li>
      <date>
        {{date | date:'yyyy.MM.dd'}}
      </date>
    </li>
    <li>
      <time time-update="format"/>
    </li>
    <li ng-repeat="item in nav.menu">
      <a ng-href="{{item.link}}">
        {{item.title}}
      </a>
    </li>
    <li uib-dropdown on-toggle="toggled(open)" ng-show="state_cookie==1">
      <a href id="simple-dropdown" uib-dropdown-toggle>
        Profile
      </a>
      <ul uib-dropdown-menu style="height: 130px;width: 50px" aria-labelledby="simple-dropdown">
        <li><a href="/profile">Profile</a></li>
        <li><a href="#">Update</a></li>
        <li><a href="#">Message List</a></li>
        <li><a href="#">Post New</a></li>
        <li><a href="#">Request New</a></li>
      </ul>
    </li>
    <li>
      <a ng-show="!state_cookie" ng-click="login()" ng-href="#">
        Login
      </a>
      <a ng-show="state_cookie" ng-click="logout()" ng-href="#">
        Logout
      </a>
    </li>
    <li>
      <input type="text" placeholder="any keywords" ng-model="keywords"/>
    </li>
    <li> 
      <button type="submit" class="btn btn-default" ng-click="search()">
        Search
      </button>
    </li>
  </ul>
</div>