<navbar>
</navbar>
<div id="display">
    <br>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <ol class="breadcrumb" id="route">
                    <li><a href="/main">Home</a></li>
                    <li><a href="#">Materials</a></li>
                </ol>
                <div class="row">
                    <div class="col-md-3">
                        <select type="business" name="business" id="business" ng-model="searchForm.business" required="required" class="form-control" ng-options="b.text for b in bs">
                            <option value="">--choose business--</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select type="category" name="category" id="category" ng-model="searchForm.category" required="required" class="form-control" ng-options="c.text for c in ca">
                            <option value="">--choose category--</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select type="market" name="market" id="market" ng-model="searchForm.market" required="required" class="form-control" ng-options="m.text for m in ma">
                            <option value="">--choose market--</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <button id="get" type="button" class="btn btn-info" ng-click="get()">
                          Get
                        </button>
                    </div>
                </div>
                <br><hr>
                <div class="row">
                    <table ng-table="tableParams" class="table table-bodered">
                    <tr ng-repeat="i in $data">
                        <td data-title="'Name'" sortable="'name'">
                            <a href="#">
                                {{i.name}}
                            </a>
                        </td>
                        <td data-title="'Type'" sortable="'type'">
                            <a href="#">
                                {{i.type}}
                            </a>
                        </td>
                        <td> data-title ="Detail">
                            <a type="button" href="/materialDetail">
                            detail
                            </a>
                        </td>
                    </tr>
                	</table>
                </div>
            </div>
            <hr>
            <div class="row">
                <button id="post" type="button" class="btn btn-default" ng-click="post()">
                    POST ?
                </button>
            </div>
        </div>
    </div>
    <br><br><br><br><hr>
</div>
<footer>
</footer>

