.ng-table-counts {
  position: relative;
  left:0px;
  top:0px;
}

.ng-table-pager {
  position: relative;
  left:60%;
  top:20px;
}

#visible select {
  position: relative;
  left:-945px;
  top:20px;
  height:22px;
  width:15%;
  float: right;
  background-color: #fff;
  padding: .1em 1em;
  font-size: 12px;
  font-family: Arial;
  color:#000;
  text-align: center;
  border-radius: 5px;
}

#visible button {
  position: relative;
  left:335px;
  top:20px;
  background-color: #fff;
  padding: .1em 1em;
  font-size: 12px;
  font-family: Arial;
  color:#000;
  text-align: center;
  border-radius: 5px;
}

/*.resultTitle {
  text-align: right;
  font-family: Comic;
  font-size: 1.1em;
  margin-bottom: 1.5%;
}

.resultParam {
  text-align: center;
  font-family: Comic;
  font-size: 1.1em;
  margin-bottom: 1.5%;
}
*/

.resultTitle{
  border: 1px;
  background-color: black;
  color: white;
  font-family: Comic;
  /*border-collapse: collapse;*/

}
table tr:nth-child(odd) {
  font-family: Serif;
  text-align: center;
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  font-family: Serif;
  text-align: center;
  background-color: #ffffff;
}