<navbar>
</navbar>
<div id="display">
    <br>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <ol class="breadcrumb" id="route">
                    <li><a href="/main">Home</a></li>
                    <li><a href="#" style="color: black;">Materials</a></li>
                </ol>
                <div class="row">
                    <table ng-table="tableParams" class="table table-bodered">
                    <tr>
                        <th class = "resultTitle">FIBRE CLASS</th>
                        <th class = "resultTitle">FIBRE CODE</th>
                        <th class = "resultTitle">RESIN CLASS</th>
                        <th class = "resultTitle">RESIN CODE</th>
                        <th class = "resultTitle">WEAVE PATTERN</th>
                        <th class = "resultTitle">DETAIL</th>
                    </tr>
                    <tr class = "resultParam" ng-repeat="i in data">
                        <td ng-show = "i.stock_state | cookie('Login').power==1">{{i.fibre_class}}</td>
                        <td ng-show = "i.stock_state | cookie('Login').power==1">{{i.fibre_code}}</td>
                        <td ng-show = "i.stock_state | cookie('Login').power==1">{{i.resin_classification}}</td>
                        <td ng-show = "i.stock_state | cookie('Login').power==1">{{i.resin_details}}</td>
                        <td ng-show = "i.stock_state | cookie('Login').power==1">{{i.weave_pattern}}</td>
                        <td>
                            <button ng-show = "i.stock_state | cookie('Login').power==1" ng-click="go(i.id)" class="btn btn-info btn-sm" type="button">
                            DETAIL
                            </button>
                            <button ng-show="cookie('Login').power==1" ng-click="change(i.id)" class="btn btn-primary btn-sm">
                            {{button_fuck[i.stock_state]}}
                            </buton>
                        </td>
                    </tr>
<!--                     <tr ng-repeat="i in $data">
                        <td class = "resultTitle" data-title="'Fibre Class'" sortable="'Fibre Class'">
                            <a class = "resultParam" href="#">
                                dfdfdfd
                            </a>
                        </td>
                        <td class = "resultTitle" data-title="'Fibre Code'" sortable="'Fibre Code'">
                            <a class = "resultParam" href="#">
                                {{i.fibre_code}}
                            </a>
                        </td>
                        <td class = "resultTitle" data-title="'Resin Class'" sortable="'Resin Class'">
                            <a class = "resultParam" href="#">
                                {{i.resin_classification}}
                            </a>
                        </td>
                        <td class = "resultTitle" data-title="'Resin Code'" sortable="'Resin Code'">
                            <a class = "resultParam" href="#">
                                {{i.resin_details}}
                            </a>
                        </td>
                        <td class = "resultTitle" data-title="'Weave Pattern'" sortable="'Weave Pattern'">
                            <a class = "resultParam" href="#">
                                {{i.weave_pattern}}
                            </a>
                        </td>
                        <td class = "resultTitle" data-title ="'Detail'">
                            <a  class = "resultParam" type="button" href="/materialDetail/{{i.id}}">
                            detail
                            </a>
                        </td>
                    </tr> -->
                	</table>
                </div>
            </div>
<!--             <hr>
            <div class="row">
                <button id="post" type="button" class="btn btn-default" ng-click="post()">
                    POST ?
                </button>
            </div> -->
        </div>
    </div>
    <br><br><br><br>
</div>
<footer>
</footer>