#mainpage h3 {
  position: relative;
  text-decoration: underline;
  font-size: 2em;
  font-family: Comic;
  letter-spacing: 2px;
  color: black;
}

#mainpage label {
  font-family: Comic;
  font-size: 1em;
  padding-top: 3%;
} 

#get {
  position: absolute;
  right: 5%;
}

.searchtitle {
  text-decoration: underline;
}

